body{
    background-color: #000;
    color: #fff;
}

header{ 
    width: 100%;
    float: left;
}

h2 {
    width: 90%;
    float: left;
}

.logout{        /* link do wyloguj admin_panel */
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 10px;
    float: right;
}

.logout:hover{  
    background-color: #0099ff;
    border-radius: 25px;
}

.przycisk{
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 10px;
}

.przycisk:hover{
    background-color: #0099ff;
    border-radius: 25px;
}

.wpisy{
    background-color: rgba(42, 43, 42, 0.5);
    border-radius: 10px;
}

.artykul a{
    text-decoration: none;
    color: aqua;
}

.artykul{
    padding: 5px;
    background-color: rgba(98, 99, 98, 0.5);
    border-radius: 20px;
    margin-top: 15px;
}

.delete{  /* przycisk usuń wpis admin_panel */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
.delete a{
    text-decoration: none;
    color: #000;
}