body{
    background-color: #000;
    color: #fff;
}
header{
    display: flex;
    flex-direction: row;
}
.logout{        /* link do wyloguj admin_panel */
    display: flex;
    margin-left: 60%;
    margin-top: 2%;
    text-decoration: none;
    color: #fff;
}

.logout button{  /* przycisk wyloguj admin_panel */
    background-color: #3498db;
    border-radius: 20px;
}

.delete{  /* przycisk usuń wpis admin_panel */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
.delete a{
    text-decoration: none;
    color: #000;
}