body{
    background-color: #000;
    color: #fff;
}
header{
    display: flex;
    flex-direction: row;
}
.logout{
    display: flex;
    margin-left: 60%;
    margin-top: 2%;
    text-decoration: none;
    color: #fff;
}

.logout button{
    background-color: #3498db;
    border-radius: 20px;
}
