body {
    background-color: #ffffff;
    color: #000000;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

h2 {
    margin: 0;
}

.logout {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 10px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.logout:hover {
    background-color: #0099ff;
    border-radius: 25px;
}

.wpisy{
    background-color: rgba(42, 43, 42, 0.5);
    border-radius: 10px;
}

.artykul a{
    text-decoration: none;
    color: aqua;
}

.artykul{
    padding: 5px;
    background-color: rgba(98, 99, 98, 0.5);
    border-radius: 20px;
    margin-top: 15px;
}

.delete{  /* przycisk usuń wpis admin_panel */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
.delete a{
    text-decoration: none;
    color: #000;
}

.uczniowie{
    margin-top: 10px;
    border-radius: 10px;
    background-color: #646464;
    padding: 5px;
}

.dodaj_ksiazki_frmularz{
    margin-top: 15px;
}

.dodaj_ksiazki_frmularz input{
    border-radius: 8px;
}
.MyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MyForm input{
    width: 40vw;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}
.MyForm textarea{
    min-height: 30vh;
    min-width: 40vw;
    max-height: 50vh;
    max-width: 180vh;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

.panel_lewy {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh; /* Ustawia wysokość na 100% minus wysokość nagłówka */
    background-color: #3c00ff;
    padding: 20px;
    box-sizing: border-box;
}

.panel_lewy .przycisk {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0;
}

.panel_lewy .przycisk:hover {
    background-color: #4458c8;
    padding: 10px;
}

.panel_lewy a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
}

.panel_lewy a:hover {
    background-color: #ccc;
}